<?php

$dsn = "mysql:host=localhost;charset=utf8mb4";

$options = [
    PDO::ATTR_DEFAULT_FETCH_MODE => PDO::FETCH_ASSOC
];

try {
    $pdo = new PDO($dsn, 'root', '{{ mysql_root_password }}', $options);
} catch(Exception $e) {
    exit("Could not connect to database, " . $e->getMessage());
}

$stmt = $pdo->query('SELECT UNIX_TIMESTAMP() as timestamp;');
$row = $stmt->fetch();
$timestamp = $row['timestamp'];

echo "Databasens unix-tid är: ${timestamp}";




